<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.pdsw.persistence.mybatis.mappers.EquipoComplejoMapper">

    <resultMap type='EquipoComplejo' id='EquipoComplejoResult'>
        <id property='serial' column='serial'/>
        <result property='placa' column='num_placa'/>
        <result property='disponibilidad' column='disponibilidad'/>
        <result property='estado' column='estado'/>
        <result property='asegurado' column='asegurado'/>
        <result property='marca' column='marca'/>
        <association property='modelo_Eq' resultMap='ModeloResult' columnPrefix='mo_'/>
    </resultMap>

    <resultMap type='Modelo' id='ModeloResult'>
        <id property='nombre' column='nombre'/>
        <result property='vidaUtil' column='vida_util'/>
        <result property='fotografia' column='fotografia'/>
        <result property='valorComercial' column='valor_comercial'/>
        <result property='clase' column='clase'/>
        <result property='descripcion' column='descripcion'/>
        <result property='accesorios' column='accesorios'/>
    </resultMap>

    <insert id='insertEquipo' parameterType='map'>
        insert into Equipos_Complejos (serial,num_placa,disponibilidad,estado,modelo,asegurado,marca) values(#{EqComplejo.serial},#{EqComplejo.placa},#{EqComplejo.disponibilidad},
        #{EqComplejo.estado},#{EqComplejo.modelo_Eq.nombre},#{EqComplejo.asegurado},#{EqComplejo.marca})
    </insert>

    <insert id='insertModelo' parameterType='map'>
        insert into Modelos (vida_util,fotografia,valor_comercial,clase,descripcion,accesorios,nombre)
        values(#{Modelo.vidaUtil},#{Modelo.fotografia},#{Modelo.valorComercial},#{Modelo.clase},
        #{Modelo.descripcion},#{Modelo.accesorios},#{Modelo.nombre})
    </insert>

    <select id='loadDisponibles' parameterType='map' resultMap='EquipoComplejoResult'>
        select ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        ec.marca as marca, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre
        from Equipos_Complejos as ec LEFT JOIN Modelos as mo on ec.modelo=mo.nombre where
        ec.disponible=#{'true'}
    </select>

    <select id='loadEquipoBySerial' parameterType='map' resultMap='EquipoComplejoResult'>
        select ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        ec.marca as marca, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre
        from Equipos_Complejos as ec LEFT JOIN Modelos as mo on ec.modelo=mo.nombre where
        ec.serial=#{Eq_Serial} AND mo.nombre=#{Modelo_Equipo}
    </select>

    <select id='loadEquipoByPlaca' parameterType='map' resultMap='EquipoComplejoResult'>
        select ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        ec.marca as marca, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre
        from Equipos_Complejos as ec LEFT JOIN Modelos as mo on ec.modelo=mo.nombre where
        ec.num_placa=#{Eq_Placa}
    </select>

    <update id='update' parameterType='map'>
        update Equipos_Complejos as ec SET values(#{Eq_Nuevo.id_Eq},#{Eq_Nuevo.serial},#{Eq_Nuevo.placa},#{Eq_Nuevo.disponibilidad},
        #{Eq_Nuevo.estado},#{Eq_Nuevo.modelo_Eq.nombre},#{Eq_Nuevo.asegurado},#{Eq_Nuevo.marca}) where ec.serial=#{Eq_Viejo.serial} or ec.placa=#{Eq_Viejo.placa}
    </update>

    <delete id='delete' parameterType='map'>
        delete from Equipos_Complejos as ec where ec.serial=#{Eq_Complejo.serial} or ec.placa=#{Eq_Complejo.placa}
    </delete>

    <select id='loadAll' resultMap='EquipoComplejoResult'>
        select ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        ec.marca as marca, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre
        from Equipos_Complejos as ec LEFT JOIN Modelos as mo on ec.modelo=mo.nombre
    </select>

    <select id='loadEquipoByModelo' parameterType='map' resultMap='EquipoComplejoResult'>
        select ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        ec.marca as marca, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre
        from Equipos_Complejos as ec LEFT JOIN Modelos as mo on ec.modelo=mo.nombre where 
        ec.modelo=#{Eq_Modelo}
    </select>
    
    <select id='loadModelo' parameterType='map' resultMap='ModeloResult'>
        select mo.vida_util as vida_util, mo.fotografia as fotografia, mo.valor_comercial as valor_comercial,
        mo.clase as clase, mo.descripcion as descripcion, mo.accesorios as accesorios,
        mo.nombre as nombre from Modelos as mo where mo.nombre=#{Modelo}
    </select>

    <select id='loadModelosAproximados' parameterType='map' resultMap='ModeloResult'>
        select mo.vida_util as vida_util, mo.fotografia as fotografia, mo.valor_comercial as valor_comercial,
        mo.clase as clase, mo.descripcion as descripcion, mo.accesorios as accesorios,
        mo.nombre as nombre from Modelos as mo where mo.nombre like '%'||#{Aproximado}||'%'
    </select>
</mapper>
