<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.pdsw.persistence.mybatis.mappers.EquipoComplejoMapper">

    <resultMap type='EquipoComplejo' id='EquipoComplejoResult'>
        <id property='serial' column='serial'/>
        <result property='placa' column='num_placa'/>
        <result property='disponibilidad' column='disponibilidad'/>
        <result property='estado' column='estado'/>
        <result property='asegurado' column='asegurado'/>
        <result property='tiempoRestante' column='vida_restante'/>
        <association property='modelo_Eq' resultMap='ModeloResult' columnPrefix='mo_'/>
        <association property='ordenCompra_Eq' resultMap='OrdenCompra' columnPrefix='ord_'/>
    </resultMap>

    <resultMap type='Modelo' id='ModeloResult'>
        <id property='nombre' column='nombre'/>
        <result property='vidaUtil' column='vida_util'/>
        <result property='fotografia' column='fotografia'/>
        <result property='valorComercial' column='valor_comercial'/>
        <result property='clase' column='clase'/>
        <result property='marca' column='marca'/>
        <result property='descripcion' column='descripcion'/>
        <result property='accesorios' column='accesorios'/>
    </resultMap>
    
    <resultMap type='OrdenCompra' id='OrdenCompra'>
        <result property='proveedor' column='proveedor'></result>
        <result property='adquisicion' column='fecha_compra'></result>
        <result property='garantia' column='fecha_garantia'></result>
        <result property='activo' column='codigo_activo'></result>
        <result property='codigo' column='codigo_orden_compra'></result>    
    </resultMap>

    <insert id='insertEquipo' parameterType='map'>
        insert into Equipos_Complejos 
        (serial,num_placa,disponibilidad,estado,modelo,asegurado,vida_restante) 
        values(#{EqComplejo.serial},#{EqComplejo.placa},#{EqComplejo.disponibilidad},
        #{EqComplejo.estado},#{EqComplejo.modelo_Eq.nombre},#{EqComplejo.asegurado},#{EqComplejo.tiempoRestante})
    </insert>

    <insert id='insertModelo' parameterType='map'>
        insert into Modelos 
        (vida_util,fotografia,valor_comercial,clase,descripcion,accesorios,nombre,marca)
        values
        (#{Modelo.vidaUtil},#{Modelo.fotografia},#{Modelo.valorComercial},#{Modelo.clase},
        #{Modelo.descripcion},#{Modelo.accesorios},#{Modelo.nombre},#{Modelo.marca})
    </insert>
    <insert id='insertOrdenCompra' parameterType='map'>
        INSERT INTO
            Informacion_Compra(fecha_compra,proveedor,fecha_garantia,Equipos_Complejos_serial,Equipos_Complejos_modelo,
            codigo_orden_compra,codigo_activo)
        VALUES (#{orden.adquisicion},#{orden.proveedor},#{orden.garantia},#{serial},#{modelo.nombre},#{orden.codigo},
                #{orden.activo})    
    </insert>

    <select id='loadDisponibles' parameterType='map' resultMap='EquipoComplejoResult'>
         SELECT 
            ec.serial AS serial, 
            ec.num_placa AS  num_placa, 
            ec.disponibilidad AS  disponibilidad,
            ec.estado AS  estado, 
            ec.modelo AS modelo, 
            ec.asegurado AS  asegurado,
            ec.vida_restante AS  vida_restante, 
            mo.marca AS  mo_marca, 
            mo.vida_util AS  mo_vida_util, 
            mo.fotografia AS  mo_fotografia, 
            mo.valor_comercial AS mo_valor_comercial,
            mo.clase AS  mo_clase,
            mo.descripcion AS  mo_descripcion, 
            mo.accesorios AS  mo_accesorios, 
            mo.nombre AS  mo_nombre,
            ord.proveedor AS ord_proveedor, 
            ord.fecha_compra AS  ord_fecha_compra, 
            ord.fecha_garantia AS  ord_fecha_garantia,
            ord.codigo_orden_compra AS ord_codigo_orden_compra,
            ord.codigo_activo AS ord_codigo_activo
        FROM Equipos_Complejos AS ec 
            LEFT JOIN Modelos AS  mo ON ec.modelo=mo.nombre 
            LEFT JOIN Informacion_Compra AS ord ON ec.serial=ord.Equipos_Complejos_serial AND ec.modelo=ord.Equipos_Complejos_modelo	
	WHERE 
            ec.disponibilidad=#{'true'}
    </select>
    
    <select id='loadEnAlmacenByModelo' parameterType='map' resultMap='EquipoComplejoResult'>
        SELECT ec.serial as serial, 
        ec.num_placa as num_placa, 
        ec.disponibilidad as disponibilidad,
        ec.estado as estado, 
        ec.modelo as modelo, 
        ec.asegurado as asegurado,
        mo.marca as mo_marca, ec.vida_restante as vida_restante, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre,
        ord.proveedor AS ord_proveedor, 
        ord.fecha_compra AS  ord_fecha_compra, 
        ord.fecha_garantia AS  ord_fecha_garantia,
        ord.codigo_orden_compra AS ord_codigo_orden_compra,
        ord.codigo_activo AS ord_codigo_activo
        FROM Equipos_Complejos as ec LEFT JOIN Modelos as mo on ec.modelo=mo.nombre
        LEFT JOIN 
            Informacion_Compra AS ord ON ec.serial=ord.Equipos_Complejos_serial AND ec.modelo=ord.Equipos_Complejos_modelo 
        WHERE
            ec.estado='en almacen' and ec.modelo=#{Modelo}
    </select>

    <select id='loadEquipoBySerial' parameterType='map' resultMap='EquipoComplejoResult'>
        SELECT ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        mo.marca as mo_marca, ec.vida_restante as vida_restante, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre,
        ord.proveedor AS ord_proveedor, 
        ord.fecha_compra AS  ord_fecha_compra, 
        ord.fecha_garantia AS  ord_fecha_garantia,
        ord.codigo_orden_compra AS ord_codigo_orden_compra,
        ord.codigo_activo AS ord_codigo_activo       
        FROM Equipos_Complejos as ec 
        LEFT JOIN Modelos as mo on ec.modelo=mo.nombre
        LEFT JOIN Informacion_Compra AS ord ON ec.serial=ord.Equipos_Complejos_serial AND ec.modelo=ord.Equipos_Complejos_modelo
        WHERE ec.serial=#{Eq_Serial} AND mo.nombre=#{Modelo_Equipo}
    </select>

    <select id='loadEquipoByPlaca' parameterType='map' resultMap='EquipoComplejoResult'>
        SELECT ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        mo.marca as mo_marca, ec.vida_restante as vida_restante, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre,
        ord.proveedor AS ord_proveedor, 
        ord.fecha_compra AS  ord_fecha_compra, 
        ord.fecha_garantia AS  ord_fecha_garantia,
        ord.codigo_orden_compra AS ord_codigo_orden_compra,
        ord.codigo_activo AS ord_codigo_activo  
        FROM Equipos_Complejos as ec 
        LEFT JOIN Modelos as mo on ec.modelo=mo.nombre 
        LEFT JOIN Informacion_Compra AS ord ON ec.serial=ord.Equipos_Complejos_serial AND ec.modelo=ord.Equipos_Complejos_modelo
        WHERE
            ec.num_placa=#{Eq_Placa}
    </select>
    
    <select id='loadEquipoDisponibleByPlaca' parameterType='map' resultMap='EquipoComplejoResult'>
        SELECT ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        mo.marca as mo_marca, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre,
        ord.proveedor AS ord_proveedor, 
        ord.fecha_compra AS  ord_fecha_compra, 
        ord.fecha_garantia AS  ord_fecha_garantia,
        ord.codigo_orden_compra AS ord_codigo_orden_compra,
        ord.codigo_activo AS ord_codigo_activo  
        FROM Equipos_Complejos as ec 
        LEFT JOIN Modelos as mo on ec.modelo=mo.nombre 
        LEFT JOIN Informacion_Compra AS ord ON ec.serial=ord.Equipos_Complejos_serial AND ec.modelo=ord.Equipos_Complejos_modelo
        WHERE
        ec.num_placa=#{Eq_Placa} and ec.estado='en almacen'
    </select>

    <update id='update' parameterType='map'>
        update Equipos_Complejos SET 
        disponibilidad=#{Eq_Nuevo.disponibilidad},estado=#{Eq_Nuevo.estado},
        asegurado=#{Eq_Nuevo.asegurado},
        vida_restante=#{Eq_Nuevo.tiempoRestante}
        where serial=#{Eq_Viejo.serial}
    </update>

    <delete id='delete' parameterType='map'>
        delete from Equipos_Complejos as ec where ec.serial=#{Eq_Complejo.serial} or ec.placa=#{Eq_Complejo.placa}
    </delete>

    <select id='loadAll' resultMap='EquipoComplejoResult'>
        SELECT ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        mo.marca as mo_marca, ec.vida_restante as vida_restante, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre,
        ord.proveedor AS ord_proveedor, 
        ord.fecha_compra AS  ord_fecha_compra, 
        ord.fecha_garantia AS  ord_fecha_garantia,
        ord.codigo_orden_compra AS ord_codigo_orden_compra,
        ord.codigo_activo AS ord_codigo_activo 
        FROM Equipos_Complejos as ec 
        LEFT JOIN Modelos as mo on ec.modelo=mo.nombre
        LEFT JOIN Informacion_Compra AS ord ON ec.serial=ord.Equipos_Complejos_serial AND ec.modelo=ord.Equipos_Complejos_modelo
    </select>

    <select id='loadEquipoByModelo' parameterType='map' resultMap='EquipoComplejoResult'>
        SELECT ec.serial as serial, ec.num_placa as num_placa, ec.disponibilidad as disponibilidad,
        ec.estado as estado, ec.modelo as modelo, ec.asegurado as asegurado,
        mo.marca as mo_marca, ec.vida_restante as vida_restante, mo.vida_util as mo_vida_util, mo.fotografia as mo_fotografia, mo.valor_comercial as mo_valor_comercial, mo.clase as mo_clase,
        mo.descripcion as mo_descripcion, mo.accesorios as mo_accesorios, mo.nombre as mo_nombre,
        ord.proveedor AS ord_proveedor, 
        ord.fecha_compra AS  ord_fecha_compra, 
        ord.fecha_garantia AS  ord_fecha_garantia,
        ord.codigo_orden_compra AS ord_codigo_orden_compra,
        ord.codigo_activo AS ord_codigo_activo 
        FROM Equipos_Complejos as ec LEFT JOIN Modelos as mo on ec.modelo=mo.nombre
        LEFT JOIN Informacion_Compra AS ord ON ec.serial=ord.Equipos_Complejos_serial AND ec.modelo=ord.Equipos_Complejos_modelo
        WHERE
        ec.modelo=#{Eq_Modelo}
    </select>
    
    <select id='loadModelo' parameterType='map' resultMap='ModeloResult'>
        select mo.vida_util as vida_util, mo.fotografia as fotografia, mo.valor_comercial as valor_comercial,
        mo.clase as clase, mo.descripcion as descripcion, mo.marca as marca, mo.accesorios as accesorios,
        mo.nombre as nombre from Modelos as mo where mo.nombre=#{Modelo}
    </select>

    <select id='loadModelosAproximados' parameterType='map' resultType="string">
        select mo.nombre from Modelos as mo where mo.nombre like '%'||#{Aproximado}||'%'
    </select>
    
    <select id='loadOrdenCompraBySerial' parameterType='map' resultType='OrdenCompra'>
        SELECT 
            ord.proveedor, ord.fecha_compra, ord.fecha_garantia,
            ord.codigo_orden_compra, ord.codigo_activo
        FROM 
            Informacion_Compra AS ord 
        WHERE 
            ord.Equipos_Complejos_Serial=#{serial}
    </select>
</mapper>
