<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.pdsw.persistence.mybatis.mappers.EquipoSencilloMapper">
    <resultMap type='EquipoSencillo' id='EquipoSencilloResult'>
        <id property='nombre' column='nombre'/>
        <result property='cantidadTotal' column='cantidad_total'/>
        <result property='clase' column='clase'/>
        <result property='fotografia' column='fotografia'/>
        <result property='valorComercial' column='valor_comercial'/>
    </resultMap>
    
     <select id='loadEquipoByNombre' parameterType='map' resultMap='EquipoSencilloResult'>
         select es.nombre as nombre, es.cantidad_total as cantidad_total, es.clase as clase, es.fotografia as fotografia,
         es.valor_comercial as valor_comercial from 
         Equipos_Sencillos as es where es.nombre=#{Eq_Nombre}
     </select>
    
     <insert id='insertEquipo' parameterType='map'>
         insert into Equipos_Sencillos (nombre,cantidad_total,clase,fotografia,valor_comercial)
         values (#{EqSencillo.nombre},#{EqSencillo.cantidadTotal},#{EqSencillo.clase},#{EqSencillo.fotografia},#{EqSencillo.valorComercial})
     </insert>
    
    <select id='loadEquipoByNombreDisponibilidad' parameterType='map' resultMap='EquipoSencilloResult'>
         select es.nombre as nombre, es.cantidad_total as cantidad_total, 
         es.clase as clase, es.fotografia as fotografia,
         es.valor_comercial as valor_comercial from Equipos_Sencillos as es 
         left join Equipo_prestamo_sencillo as eps on es.nombre=eps.equipo
         where es.nombre=#{Eq_Nombre} and (select (es.cantidad_total-sum(eps.cantidad)+sum(eps.cantidad_devuelta)) 
        as cantidad_disponible from Equipos_Sencillos as es left join Equipo_prestamo_sencillo as eps on 
        es.nombre=eps.equipo where es.nombre=#{Eq_Nombre}) &gt; 0 group by nombre
    </select>
    
    <select id='loadAll'  resultMap='EquipoSencilloResult'>
       select es.nombre as nombre, es.cantidad_total as cantidad_total, es.clase as clase, es.fotografia as fotografia,
       es.valor_comercial as valor_comercial from 
       Equipos_Sencillos as es   
    </select>
    
    <update id='update' parameterType='map'>
        update Equipos_Sencillos SET nombre=#{Eq_Nuevo.nombre}, cantidad_total=#{Eq_Nuevo.cantidadTotal},
        clase=#{Eq_Nuevo.clase}, fotgrafia=#{Eq_Nuevo.fotografia},
        valor_comercial=#{Eq_Nuevo.valorComercial}
        where es.nombre=#{Eq_Viejo.nombre}
    </update>
    
    
    <select id='consultarEquipoSencilloCantidadDisponible' parameterType='String' resultType='int'>
        select (es.cantidad_total-sum(eps.cantidad)+sum(eps.cantidad_devuelta)) as cantidad_disponible
        from Equipos_Sencillos as es left join Equipo_prestamo_sencillo as eps on 
        es.nombre=eps.equipo where es.nombre=#{Eq_Nombre}
    </select>
    
</mapper>