<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.eci.pdsw.persistence.mybatis.mappers.PersonaMapper">
    <resultMap type='Persona' id='PersonaResult'>
        <id property='carnet' column='carne'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>
        <result property='email' column='email'/>
        <result property='telefono' column='telefono'/>
        <collection property='roles' ofType='Rol' resultMap='RolResult' columnPrefix='ro_'/>
    </resultMap>
    
    <resultMap type='Rol' id='RolResult'>
        <id property='rol' column='Rol_rol'/>
        <result property='contrasenia' column='contrasena'/>
        <result property='sal' column='sal'/>
    </resultMap>
    
    
    <insert id='insertPersona' parameterType='map'>
        insert into Personas(carne,nombre,apellido,email,telefono)
        values(#{Persona.carnet},#{Persona.nombre},#{Persona.apellido},#{Persona.email},#{Persona.telefono})
    </insert>
    
    <insert id='insertSeguridad' parameterType='map'>
        insert into Rol_Persona(Persona_carne,Rol_rol,contrasena,sal) values (#{carne},#{rol.rol},#{rol.contrasenia},#{rol.sal})
    </insert>
    
    <insert id='insertRol' parameterType='map'>
        insert into Rol(rol) values (#{rol})
    </insert>
    
    <select id='loadAll' parameterType='map' resultMap='PersonaResult'>
        select carne,nombre,apellido,email,telefono from Personas
    </select>
    <update id='update' parameterType='map'>
        update Personas set nombre=#{Per_nuevo.nombre},
        apellido=#{Per_nuevo.apellido}, email=#{Per_nuevo.email}, telefono=#{Per_nuevo.telefono} 
        where carne=#{Per_viejo.carnet}
    </update>
     <select id='load' parameterType='map' resultMap='PersonaResult'>
        select carne,nombre,apellido,email,telefono from Personas where carne = #{carne};
    </select>
    
    <select id='loadPersRoles' parameterType='map' resultMap='PersonaResult'>
        select carne,nombre,apellido,email,telefono, r.rol as ro_Rol_rol, rp.contrasena as
        ro_contrasena, rp.sal as ro_sal 
        from Personas as pe 
        left join Rol_Persona as rp on pe.carne=rp.Personas_carne
        left join Rol as r on r.rol=rp.Rol_rol 
        where pe.carne=#{carne}
    </select>
    
    <select id='loadAllRoles' parameterType='map' resultMap='RolResult'>
        select ro_rol from Rol 
    </select>
    
    <select id='cantidadMorosos' parameterType='map' resultType='java.lang.Integer'>
        select count(pre.fecha_inicio) 
        from Prestamos as pre 
        left join Personas as per
        on pre.persona=per.carne 
        where pre.fecha_fin_real &gt; pre.fecha_fin_estimada 
        and per.carne=#{persona}
    </select>
</mapper>