<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eci.pdsw.persistence.mybatis.mappers.PersonaMapper">
    <resultMap type='Persona' id='PersonaResult'>
        <id property='carnet' column='nombre'/>
        <result property='nombre' column='cantidad_total'/>
        <result property='apellido' column='clase'/>
        <result property='email' column='fotografia'/>
        <result property='telefono' column='valor_comercial'/>
        <result property='rol' column='valor_comercial'/>
    </resultMap>
    
</mapper>