<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<typeAliases>
		<typeAlias type='edu.eci.pdsw.entities.EquipoComplejo' alias='EquipoComplejo'/>
		<typeAlias type='edu.eci.pdsw.entities.EquipoSencillo' alias='EquipoSencillo'/>
		<typeAlias type='edu.eci.pdsw.entities.Modelo' alias='Modelo'/>
		<typeAlias type='edu.eci.pdsw.entities.Persona' alias='Persona'/>
		<typeAlias type='edu.eci.pdsw.entities.Prestamo' alias='Prestamo'/>
		<typeAlias type='edu.eci.pdsw.entities.PrestamoIndefinido' alias='PrestamoIndefinido'/>
		<typeAlias type='edu.eci.pdsw.entities.PrestamoTerminoFijo' alias='PrestamoTerminoFijo'/>
                <typeAlias type='edu.eci.pdsw.entities.Rol' alias='Rol'/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.h2.Driver" />
				<property name="url" value="jdbc:h2:file:./target/db/testdb2;MODE=MYSQL" />
				<property name="username" value="anonymous" />
				<property name="password" value="" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/EquipoComplejoMapper.xml"></mapper>
		<mapper resource="mappers/EquipoSencilloMapper.xml"></mapper>
                <mapper resource="mappers/PersonaMapper.xml"></mapper>
                <mapper resource="mappers/PrestamoMapper.xml"></mapper>
	</mappers>
</configuration>
